@import "tailwindcss";

:root {
  --bg: #080a0f;
  --surface: #0d1117;
  --cyan: #00e5ff;
  --violet: #7c3aed;
}

body {
  background-color: var(--bg);
  color: white;
  font-family: "DM Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Syne", sans-serif;
}

.font-display {
  font-family: "Bebas Neue", sans-serif;
}
